<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Host=localhost;Port=5432;User ID=socialNetworkAppUsername;Password=socialNetworkAppPassword;Database=Jr-NBA-League;" providerName="PostgreSQL"/>
    </connectionStrings>
</configuration>